  <footer class="footer text-center py-2 theme-bg-dark">
			 <h5 class="text-success">Quick Links</h5>
			<div class="all-con d-lg-flex justify-content-center">
			<a href="/"><p class="mr-2">Home</p></a>
			<a href="/about"><p class="mr-2">About</p></a>
	       <a href="/contact"><p class="mr-2">Contact</p></a>		
			<a href="/disclaimer"><p class="mr-2">Disclaimer</p></a>
			<a href="/privacy"><p class="mr-2">Privacy Policy</p></a>
			</div>
	  <small class="copyright mb-2">Basicoffer &copy; 2021. All right reserved</small>
		   
	    </footer>