<header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="/admin">Basicoffer Admin</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="/images/c2.jpg" alt="image" >			
					
					<div class="bio mb-3">Hi,Welcome admin<span class=""> {{user.username}}</span>.</div><!--//bio-->
					<p class="">{{formatDate}}</p>
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="http://t.me/bascioffers"><i class="fa fa-telegram fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="http://t.me/bascioffers"><i class="fa fa-whatsapp fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="http://t.me/bascioffers"><i class="fa fa-facebook fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="http://t.me/bascioffers"><i class="fa fa-twitter fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					
				      {{#if user.superAdmin}}
					<li class="nav-item">
					    <a class="nav-link"  href="/admin/register"><i class="fa fa-user fa-fw mr-2"></i>Register Admin</a>
					</li>
                     {{/if}}
					<li class="nav-item">
					    <a class="nav-link"  id="sett"><i class="fa fa-gear fa-fw mr-2"></i>Settings</a>
					</li>
				</ul>
				 <ul class="navbar-nav flex-column text-left">
					
					
					<li class="nav-item">
					    <a class="nav-link text-dark"  id="seti" href="/change-password/{{user.slug}}">Change Password</a>
					</li>
					<li class="nav-item ">
					    <a class="nav-link text-dark" id="seto" href="/admin/logout"> Logout </a>
					</li>
					</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="http://t.me/bascioffers" target="_blank">Go to telegram</a>
				</div>
			</div>
		</nav>
    </header>
    
	<script>
				
var sett = document.getElementById('sett');
var seto = document.getElementById('seto');
var seti = document.getElementById('seti');




sett.addEventListener('click', function(){
    seto.style.display='block';
    seti.style.display='block';
});

	</script>