  {{>_header}}

  
  
   <div class="main-wrapper">
      <div class="container my-5 ">

     <h3 class=" text-undeline text-center" id="isAbout">About Us !</h3>
     <p class="text-center" id="subAbout">Hello Friends Welcome To Basicoffer</p>
     <br>
     <p>Basicoffer is a Professional Crypto Updates Platform. Here we provide you only interesting and up to date content.</p>
     <br>
     <p>We're dedicated to providing you the best of Crypto Updates, with a focus on dependability and Daily Updates.</p>
     <br>
     <p>We're working to turn our passion for crypto news and related into a booming online website. We hope you enjoy our updates as much as we enjoy offering them to you.</p>
  <br>
  <p>We will keep posting more important posts on our Website for all of you. Please give your support and love.</p>
   <p>Thanks For Visiting Our Site</p>
  <a href="/contact" id="abountCon">Contact Us !</a>
  </div>
  {{>_footer}}
</div>