{{>_header}}
<div class="main-wrapper">
<div class="container my-5">
    <h1 class="">404</h1>
    <h5 class="">Oops! This Page Could Not Be Found</h5>
    <p>Sorry the page you are looking for does not exist or have been removed, name changed or is temporary unavailable.</p>
    <a href="/"><h5 class="">Back To Home</h5></a>
    </div>

<!--footer-->
 <footer class="footer text-center py-2 theme-bg-dark d-md-none">
			 <h5 class="text-success">Quick Links</h5>
			<div class="all-con d-lg-flex justify-content-center">
			<a href="/"><p class="mr-2">Home</p></a>
			<a href="/about"><p class="mr-2">About</p></a>
	       <a href="/contact"><p class="mr-2">Contact</p></a>		
			<a href="/disclaimer"><p class="mr-2">Disclaimer</p></a>
			<a href="/privacy"><p class="mr-2">Privacy Policy</p></a>
			</div>
	  <small class="copyright mb-2">Basicoffer &copy; 2021. All right reserved</small>
		   
	    </footer>
       <!--footer end-->
</div>