{{>_header}}
{{>_msg}}
<div class='main-wrapper my-5'>
<div class="container ">
    <h3 class="text-center my-4"> Account Recovery</h3>
    <form class="" action="/forgot" method="POST">
     <div class="form-group">
         <label>Enter your Basicoffer account email</label>
        <input type="email" name="email" class="form-control" placeholder="james@example.com" required>
     </div>
    
     
      <div class="form-group">
        <button class="btn btn-success" type="submit">Submit</button>
     </div>
    </form>
</div>
<!--footer-->
 <footer class="footer text-center py-2 theme-bg-dark d-md-none">
			 <h5 class="text-success">Quick Links</h5>
			<div class="all-con d-lg-flex justify-content-center">
			<a href="/"><p class="mr-2">Home</p></a>
			<a href="/about"><p class="mr-2">About</p></a>
	       <a href="/contact"><p class="mr-2">Contact</p></a>		
			<a href="/disclaimer"><p class="mr-2">Disclaimer</p></a>
			<a href="/privacy"><p class="mr-2">Privacy Policy</p></a>
			</div>
	  <small class="copyright mb-2">Basicoffer &copy; 2021. All right reserved</small>
		   
	    </footer>
       <!--footer end-->
</div>
 