{{>_header}}
{{>_msg}}
<div class='main-wrapper'>
<div class="container my-5">
    <h3 class="text-center my-4"> Admin  Login</h3>
    <form class="" action="/login" method="POST">
     <div class="form-group">
         <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="Admin username..." required>
     </div>
    
      <div class="form-group">
         <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Admin password...">
     </div>
     
      <div class="form-group">
        <button class="btn btn-success" type="submit">Login</button>
     </div>
    </form>
    <a href="/admin/forgot-password">Forgot Password ?</a>
</div>
<!--footer-->
 <footer class="footer text-center py-2 theme-bg-dark d-md-none">
			 <h5 class="text-success">Quick Links</h5>
			<div class="all-con d-lg-flex justify-content-center">
			<a href="/"><p class="mr-2">Home</p></a>
			<a href="/about"><p class="mr-2">About</p></a>
	       <a href="/contact"><p class="mr-2">Contact</p></a>		
			<a href="/disclaimer"><p class="mr-2">Disclaimer</p></a>
			<a href="/privacy"><p class="mr-2">Privacy Policy</p></a>
			</div>
	  <small class="copyright mb-2">Basicoffer &copy; 2021. All right reserved</small>
		   
	    </footer>
       <!--footer end-->
</div>
 